<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Editing <%= @question.category %></h4>

  <div class = "col-xs-12 shadow admin-panels">
    <div class = "col-xs-6">
      <li>Name of Competency: <%= f.text_field :category , :style => "float: right" %></li>
      <li>Category of Competency: <%= f.text_field :category , :style => "float: right" %></li>
      <li>Weight: <%= f.number_field :weight , :style => "float: right" %></li>
    </div>
    <div class = "col-xs-6">
      <li>Description: <%= f.text_area :description , cols: 40, rows: 5 , :style => "float: right"%></li>
    </div>
  </div>

  <br>
  <div class="actions" style="float: right; padding:20px">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
