<h4>Manage Competencies</h4>

<table class="table table-striped shadow">
  <thead>
    <tr style="background-color: white">
      <th>Name</th>
      <th>Date Added</th>
      <th>Category</th>
      <th>Status</th>
      <th>Creator</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
        <tr class="pointer" onclick="location.href='<%= edit_question_path(question) %>'">
          <td><%= question.category %></td>
          <td><%= question.created_at %></td>
          <td><%= question.survey_block.category %></td>
          <td>status</td>
          <td>someone</td>
          <td><%= question.weight %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competency', new_question_path %>
