<h4>Administration Home</h4>
<div>
  <row>

    <%= link_to users_path do %>
    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Users</li>
          <li style="padding: 30px;"><%= image_tag("users2.png", size: "150x150", :alt => "Users") %></li>
          <li> <%= User.all.size %> total</li>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to projects_path do %>
    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Projects</li>
          <li style="padding: 30px;"><%= image_tag("projects2.png", size: "150x150", :alt => "Projects") %></li>
          <li> <%= Project.all.size %> total</li>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to competencies_path do %>
    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Competencies</li>
          <li style="padding: 30px;"><%= image_tag("comps.png", size: "150x150", :alt => "Competencies") %></li>
          <li> <%= Competency.all.size %> total</li>
        </div>
      </div>
    </div>
    <% end %>
  </row>

<row>
  <%= link_to surveys_path do %>
      <div class="col-xs-3">
        <div class ="admin-panels">
          <div class = "shadow">
            <li>Scorecards</li>
            <li style="padding: 30px;"><%= image_tag("scorecards.png", size: "150x150", :alt => "Scorecards") %></li>
            <li> <%= Survey.all.size %> total</li>
          </div>
        </div>
      </div>
  <% end %>
</row>


</div>