<h4>Administration Home</h4>

  <row>

    <%= link_to projects_path do %>
    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Users</li>
          <li style="padding: 30px; padding-left: 60px"><%= image_tag("users.png", size: "70x70", :alt => "surveys") %></li>
          <li> <%= User.all.size %> total</li>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to projects_path do %>
    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Projects</li>
          <li style="padding: 30px; padding-left: 60px"><%= image_tag("projects.png", size: "70x70", :alt => "surveys") %></li>
          <li> <%= Project.all.size %> total</li>
        </div>
      </div>
    </div>
    <% end %>

    <%= link_to competencies_path do %>
    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Competencies</li>
          <li style="padding: 30px; padding-left: 60px"><%= image_tag("competencies.png", size: "80x70", :alt => "surveys") %></li>
          <li> <%= Competency.all.size %> total</li>
        </div>
      </div>
    </div>
    <% end %>
  </row>

<row>
  <%= link_to surveys_path do %>
      <div class="col-xs-3">
        <div class ="admin-panels">
          <div class = "shadow">
            <li>Scorecards</li>
            <li style="padding: 30px; padding-left: 60px"><%= image_tag("surveys.png", size: "60x70", :alt => "surveys") %></li>
            <li> <%= Survey.all.size %> total</li>
          </div>
        </div>
      </div>
  <% end %>
</row>


