<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Trainee Bio</h4>
  <%= render :partial => "shared/profile_block_survey", :locals => {:user => @score.trainee.user, :score => @score} %>

  <% @blocks.each do |block| %>
  <h4><%= block.category %> Evaluation ( <%= block.weight %> points)</h4>
    <div class="scorecard">

      <table class="table shadow">
        <thead>
        <tr style="background-color: lightgrey">
          <th>Category</th>
          <th>Rating</th>
          <% if !@score.completed? %>
            <th>Weight</th>
          <% end %>
        </tr>
        </thead>
        <% block.questions.each_with_index do |q| %>
          <tr>
            <td style="padding-left:10px"><%= q.category %><span onclick="myFunction('<%= q.category %>')"class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:cornflowerblue; float:right;"></span>
            </td>
            <td><% (1..10).each do |i| %>
                <div style="margin: 20px;display: inline">
                  <% if !@score.completed? %>
                    <%= radio_button_tag q.id, i, Rating.where(question_id: q.id, score_id: @score.id).first.value == i %>
                  <% else %>
                    <%= radio_button_tag q.id, i, Rating.where(question_id: q.id, score_id: @score.id).first.value == i, disabled: true %>
                  <% end %>
                </div>
              <% end %></td>

            <% if !@score.completed? %>
                <td><%= q.weight %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
      </div>
  <% end %>

  <% if !@score.completed? %>
    <div class="actions">
    <%= submit_tag 'Save', name: 'save' %>
    <%= submit_tag 'Submit', name: 'submit' %>
    </div>
  <% end %>
<% end %>

<script>
    function myFunction(location) {
        var coaching = document.getElementById("competency-"+location);

        // hide all others
        $(".competencies").each(function (){
            $(this).css('display', 'none');
        });

        // show just the clicked one
        coaching.style.display = "block";

    }
</script>