<table class="table table-striped shadow" style="font-size: 8pt">
  <thead>
  <tr style="background-color: white">
    <th>Trainee</th>
    <th>Project</th>
    <th>Date Assigned</th>
    <th>Completed</th>
    <th>Date Completed</th>
    <th>Knowledge</th>
    <th>Skills</th>
    <th>Abilities</th>
    <th>Total</th>
  </tr>
  </thead>
  <tbody>

  <% @scores_all.each_with_index do |score, index| %>
      <row>

        <tr class="pointer" onclick="location.href='<%= edit_score_path(score) %>'">
          <td><%= score.trainee.user.full_name %></td>
          <td><%= Project.find(score.assignment.project_id).name %></td>
          <td><%= Project.find(score.assignment.project_id).name %></td>
          <td><%= Survey.find(score.assignment.survey_id).name %></td>
          <td><%= score.completed? %></td>
          <td><%= score.completed_date %></td>
          <td><%= score.knowledge %></td>
          <td><%= score.skills %></td>
          <td><%= score.abilities %></td>
          <td><%= score.total %></td>
        </tr>

      </row>
  <% end %>

  </tbody>
</table>

