<h4>Scorecards Home</h4>
<% if current_user.role?('admin') %>
  <table class="table table-striped shadow">
    <thead>
    <tr style="background-color: white">
      <th>Name</th>
      <th>Date</th>
      <th>Completed</th>
      <th>Date Completed</th>
      <th>Knowledge</th>
      <th>Skills</th>
      <th>Abilities</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
<% end %>

<% @scores.each_with_index do |score, index| %>
  <row>
      <% if current_user.role?('admin') %>
        <tr class="pointer" onclick="location.href='<%= edit_score_path(score) %>'">
          <td><%= score.trainee.user.full_name %></td>
          <td><%= score.assignment.date %></td>
          <td><%= score.assignment.completed? %></td>
          <td><%= score.completed_date %></td>
          <td><%= score.knowledge %></td>
          <td><%= score.skills %></td>
          <td><%= score.abilities %></td>
          <td><%= score.total %></td>
        </tr>
      <% else %>
        <% if !score.completed %>
          <%= render :partial => "shared/profile_block_thin", :locals => {:user => score.trainee.user, :score => score, :index => index} %>
        <% end %>
      <% end %>
  </row>
<% end %>

<% if current_user.role?('admin') %>
    </tbody>
  </table>
<% end %>


