
<%= form_for (test_scores) do |f| %>
    <% if test_scores.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(test_scores.errors.count, "error") %> prohibited this test score from being saved:</h2>

          <ul>
            <% test_scores.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


        <div class="field">
          <small><%= f.label :starting %><br></small>
          <%= f.number_field :starting, within: 0...101 %>
        </div>


        <div class="field">
          <small><%= f.label :midterm %><br></small>
          <%= f.number_field :midterm, within: 0...101 %>
        </div>



        <div class="field">
          <small><%= f.label :final %><br></small>
          <%= f.number_field :final, within: 0...101 %>
        </div>


    <div class="actions" style="width: 100%;">
      <%= f.submit 'Update Test Scores', data: { confirm: 'Are you sure? Once a test score is submitted it cannot be modified!'}, :project => @project.name %>
    </div>
<% end %>