<h4>Manage Users</h4>

<br />
<%= link_to '+ New User', new_user_registration_path, {:class=> 'button'} %>

<div class="editform" style="margin-bottom: 2em; margin-top: 2em; width: 30%;">

  <h4 style="margin-bottom: 1em; margin-top: 0em;">Import Users</h4>
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file, {:style=> 'margin-bottom: 1em;'} %>
    <%= submit_tag "Import", {:style=> 'background-color: #005983; color: #ffffff;'} %>
  <% end %>
</div>
<table class="table table-striped shadow" style="font-size: 1em;">
  <thead>
  <tr style="background-color: white;">
    <th>Name</th>
    <th>Email</th>
    <th>Title</th>
    <th>Role</th>
    <th>Edit</th>
    <th>Delete</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <% if !user.role?('admin') %>
      <tr class="pointer" onclick="location.href='<%= edit_user_path(user) %>'">
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= user.title %></td>
        <td><%= user.meta_type || user.roles.first.name %></td>
        <td><%= link_to edit_user_path(user) do %>
              <span class="glyphicon glyphicon-edit icon-larger .edit-button-color"></span>
          <% end %>
        </td>
        <td><%= link_to user, method: :delete, data: { confirm: 'Delete user? Are you sure?' } do %>
              <span class="glyphicon glyphicon-remove icon-larger delete-button-color"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
