<p id="notice"><%= notice %></p>



<row>
  <% if @user.trainee? %>
    <h4>Your Results</h4>
    <%= render :partial => "shared/profile_block", :locals => {:user => @trainee.user} %>
  <% elsif @user.observer? & !@user.role?('admin') %>
    <h4>Upcoming Scorecard</h4>
    <%= render :partial => "shared/profile_block_thin_single", :locals => {:user => @trainee.user, :score => @score} %>

</row>

    <row>
      <h4>Trainees</h4>
      <table class="table table-striped shadow">
        <thead>
        <tr  style="background-color: lightgray">
          <th>Name</th>
          <th>Last Effective Date</th>
          <th>CORE Score</th>
          <th>Need for Evaluation</th>
          <th>Phone</th>
          <th>Email</th>
          <th>See Details</th>
        </tr>
        </thead>

        <tbody>
        <% @trainees.each do |trainee| %>
          <tr>
            <td><%= trainee.user.full_name %></td>
            <td><%= trainee.assignments.last.date %></td>
            <td>957</td>
            <td>Low</td>
            <td>x9548</td>
            <td><%= trainee.user.email %></td>
            <td><%= link_to 'See Details', user_path(trainee.user.id) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </row>
  <% elsif @user.role?('admin') %>

    <h4>Overall Statistics</h4>

    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Overall Completion</li>
          <li><div class="circle" id="circle"></div></li>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Average Time Taken</li>
          <li style="padding: 30px; padding-left: 60px"><%= image_tag("users.png", size: "70x70", :alt => "surveys") %></li>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Evaluation Progress</li>
          <li style="padding: 30px; padding-left: 60px"><%= image_tag("users.png", size: "70x70", :alt => "surveys") %></li>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class ="admin-panels">
        <div class = "shadow">
          <li>Average Duration Per Day</li>
          <li style="padding: 30px; padding-left: 60px"><%= image_tag("users.png", size: "70x70", :alt => "surveys") %></li>
        </div>
      </div>
    </div>


    <h4>Recent Events</h4>

    <% @scores.each_with_index do |score, index| %>
      <div class = '<%= 'admin-profile admin-profile-'+index.to_s %>' style = 'display: none'>
      <%= render :partial => "shared/profile_block_thin", :locals => {:user => score.trainee.user, :score => score, :index => index} %>
      </div>
    <% end %>

    <div class = 'timeline'>
      <% @scores.each_with_index do |score, index| %>
        <div class = 'timeline-inside' style="display:inline-block">
          <div class="row" style="padding-left: 20px">
            <div class = 'timeline-dot'></div>
          </div>
          <div class="row">
            <div class = 'timeline-date timeline-date-<%= index.to_s %>' style = 'visibility: hidden'>
              <small><%= score.completed_date.strftime("%B %d, %Y") %></small>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  <% end %>



<%= render :partial => "shared/viz_large" %>


<script>
  $( document ).ready(function() {
    console.log( "ready!" );

    // show the latest event profile card
    $(".admin-profile-0").show();
    $(".timeline-date-0").css('visibility', 'visible');


    $(".timeline-dot").each(function( index ) {
      $( this ).click(function(){

        //debug print
        console.log("showing .admin-profile-"+index);

        // hide all profile cards
        $(".admin-profile").each(function (){
          $( this).hide();
        });

        // hide all dates
        $(".timeline-date").each(function (){
          $( this).css('visibility', 'hidden');
        });

        // show just the one that got clicked
        $(".timeline-date-"+index).css('visibility', 'visible');

        // show just the one that got clicked
        $(".admin-profile-"+index).show();
      });
    });
  });

</script>

<script type="text/javascript">

  var myCircle = Circles.create({
    id:           'circle',
    radius:       50,
    value:        '<%= @completion.to_i %>',
    maxValue:     100,
    width:        10,
    text:         '<row><%= @completion.to_i %>%</row><br><row><span style="font-size:0.6em"><%="#{Date.today.strftime('%B')}" + " Evaluations" %></span><br><span style="font-size:0.6em">Completed</span></row></div>',
    colors:       ['lightgray', '#1ab3db'],
    duration:       200,
    textClass:      'circles-text'
  });

</script>
