<%= image_tag("core.png", :alt => "logo") %>

<h2>Forgot your password?</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div id="loginbox" class="loginbox">
      <label for="email"><!--"User ID" label-->
        Email
        <%= f.email_field :email, autofocus: true %>
      </label>

      <button lang="" type="submit" class="btn-submit" title="Sign In"  href="" tabindex="5">Send me reset password instructions</button><!--sign in button-->

      <div class="aboutcontainer">
        <div class="copyright" style="margin-top: 1em;"><!--copyright statement-->&copy; 2015 Michigan and Manchester.</div>
      </div>

      <%= render "devise/shared/links" %>
    </div>

<% end %>


