<div class="col-xs-12 shadow" style="margin-bottom: 25px;">
    <div class="col-xs-2 user-profile">
      <%= image_tag("profile_thumb.png", size: "130x105", :alt => "profile pic" , :style => "padding-left: 20px") %>
    </div>
    <div class="col-xs-4 user-profile" style="padding-left: 40px">
      <b><%= user.first_name %> <%= user.last_name %></b><br>
      <small><%= user.title %></small><br>
      <small><%= score.assigned_date %></small><br>
      <small>Last evaluation: <%= user.meta.previous_scorecard(score).assigned_date %></small><br>
      <small>Evaluation by:</small>
        <% @observers.each do |o| %>
          <small><%= o.user.first_name %> <%= o.user.last_name %></small><br>
        <% end %>
      <small>Results:</small><small><%= user.meta.previous_scorecard(score).total %></small><br>
    </div>
    <div class="col-xs-5 user-profile" style="display: inline">
      <% if @percent_improvements[index] %>
        <% @percent_improvements[index].each do |p| %>
          <div class="col-xs-3">
            <div class="circle" id='<%= "#{p[0]}-circle"+index.to_s %>'></div>
            <row style="padding-left: 30px">
              <span class="glyphicon <%= p[1].to_i > 0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down' %>" style="color:<%= p[1].to_i>0 ? 'green' : 'red' %>"></span>
              <%= p[1].to_i.to_s %>%
            </row>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-1 user-profile">
      <%= link_to edit_score_path(score) do %>
        <div class="center-vertical">
          Evaluate
        </div>
      <% end %>
    </div>
</div>

<script type="text/javascript">

  <% if @last_assignments %>
      <% if @last_assignments[index] %>
        <% @values = Score.where(:assignment_id =>  @last_assignments[index].id).where(:trainee_id => user.meta.id).first %>

          <% if @percent_improvements[index] %>
            <% @percent_improvements[index].each do |p| %>



            var myCircle = Circles.create({
              id:           '<%= "#{p[0]}-circle"+index.to_s %>',
              radius:       50,
                value:        '<%= @values["#{p[0]}"] %>',
                maxValue:     100,
                width:        10,
                text:         '<row><%= @values["#{p[0]}"].to_i.to_s %></row><br><row><span style="font-size:0.6em"><%="#{p[0]}" %></span><br><span style="font-size:0.6em">Score</span></row></div>',// #{Date.today.strftime('%B')}-Evaluations Completed"
                colors:       ['lightgray', '#1ab3db'],
              duration:       200,
              textClass:      'circles-text'
            });

            <% end %>
          <% end %>
      <% end %>
  <% end %>
</script>
