<div class="col-xs-12 shadow user-profile" style="margin-bottom: 30px">
    <div class="col-xs-3 user-profile clip-more">
      <%= image_tag(user.avatar.url(:medium), :alt => "rss feed", :style => "padding-left: 20px; width: 66%;" ) %>
    </div>
    <div class="col-xs-3 user-profile">
      <b><%= user.first_name %> <%= user.last_name %></b><br>
      <small><%= user.title %></small><br>

      <small>Assignment Date: <%= score.assigned_date %></small><br>

      <small>Previous evaluation: <%= user.meta.previous_scorecard(score).assigned_date %></small><br>

      <small>Evaluated by:</small>
        <% user.meta.previous_scorecard(score).get_observers.each do |o| %>
          <small><%= o.user.first_name %> <%= o.user.last_name %></small><br>
        <% end %>
      <small>Result:</small><small style="color:<%= user.meta.previous_scorecard(score).get_color.to_s %>"><%=user.meta.previous_scorecard(score).total%></small><br>
    </div>
    <div class = "col-xs-4">
      Project: <small><%= Project.find(score.assignment.project_id).name %></small><br>
      <% if score.completed %>
        Completed Date: <small><%= score.completed_date %></small><br>
        Observer(s):<br>
        <% score.get_observers.each do |obs| %>
          <small><%= obs.user.full_name %></small><br>
        <% end %>

      <% end %>
    </div>
    <div class = "col-xs-2 user-profile" style="height: 100%; border-left: 1px solid lightgrey;">
      <h1 style="text-align:center;"><strong  style="color:<%= score.get_color.to_s %>" ><%= score.total %></strong></h1>
      <h4 style="text-align: center;">CORE Score</h4>
    </div>
</div>
