<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">
    <div class="col-xs-3 user-profile">
      <%= image_tag(user.avatar.url(:medium), :alt => "profile pic", :style => "padding-left: 20px; padding-top: 10px; width: 85%;" ) %>
    </div>
    <div class="col-xs-3 user-profile" style="margin-top: 1em;">
      <b><%= user.first_name %> <%= user.last_name %></b><br>
      <small><%= user.title %></small><br>
      <% if score %>
        <small>Due evaluation: <%= score.assigned_date %></small><br>
        <small>Last evaluation: <%= user.meta.previous_scorecard(score).assigned_date %></small><br>

          <% if @observers %>
          <small>Evaluation by:</small>
            <% user.meta.previous_scorecard(score).get_observers.each do |o| %>
              <small><%= o.user.first_name %> <%= o.user.last_name %></small><br>
            <% end %>
          <% end %>

        <small>Score:</small><small style="color:<%= user.meta.previous_scorecard(score).get_color.to_s %> "><%= user.meta.previous_scorecard(score).total %></small><br>
      <% end %>

      <% if score %>
          <%= link_to scores_path(:filterrific => {:with_trainee_id => user.meta.id, :sorted_by => 'completed_at_desc'}) do %>
              <button class="button" style="width: 80%; margin-top: 1em;">View Results</button>
           <% end %>
      <% end %>

    </div>
    <div class="col-xs-6 user-profile" style="display: inline; margin-top: 1em;">
      <% if @percent_improvement %>
        <% @percent_improvement.each do |p| %>
          <div class="col-xs-3">
            <div class="circle" id='<%= "#{p[0]}-circle" %>'></div>
            <row style="padding-left: 30px">
              <span class="glyphicon <%= p[1].to_i>0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down' %>" style="color:<%= p[1].to_i>0 ? 'green' : 'red' %>"></span>
              <%= p[1].to_i.to_s %>%</row>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

<script type="text/javascript">

    <% @values = score %>


  <% if @percent_improvement %>
    <% @percent_improvement.each do |p| %>



  var myCircle = Circles.create({
      id:           '<%= "#{p[0]}-circle" %>',
      radius:       50,
      value:        '<%= @values["#{p[0]}"] %>',
      maxValue:     100,
      width:        10,
      text:         '<row style="color:<%= @values.get_color.to_s %>"><%= @values["#{p[0]}"].to_i.to_s %></row><br><row><span style="font-size:0.6em"><%="#{p[0]}" %></span><br><span style="font-size:0.6em">Score</span></row></div>',// #{Date.today.strftime('%B')}-Evaluations Completed"
      colors:       ['lightgray', '#1ab3db'],
      duration:       200,
      textClass:      'circles-text'
  });

    <% end %>
  <% end %>
</script>
