<div class="col-xs-12 shadow" style="margin-bottom: 25px;">
    <div class="col-xs-2 user-profile">
      <%= image_tag("profile_thumb.png", :alt => "profile pic" , :style => "width: 100%; margin-top: 1em;") %>
    </div>
    <div class="col-xs-4 user-profile" style="padding-left: 20px; width: 27%;">
      <b><%= user.first_name %> <%= user.last_name %></b><br>
      <small><%= user.title %></small><br>
      <small>Due evaluation: <%= score.assigned_date %></small><br>

      <small>Last evaluation: <%= user.meta.previous_scorecard(score).assigned_date %></small><br>

      <% if @observers %>
      <small>Evaluation by:</small>
        <% @observers.each_with_index do |o,index| %>
          <small><% if index>0 %>
                  ,
                  <% end %>
              <%= o.user.first_name %> <%= o.user.last_name %></small>
        <% end %>
          <br>
      <small>Results:</small><small><%= user.meta.previous_scorecard(score).total %></small><br>
      <% end %>
      <%= link_to edit_score_path(score) do %>
        <div class="button" style="width: 60%; text-align: center; margin-top: .5em;">
          Evaluate
        </div>
      <% end %>
    </div>
    <div class="col-xs-5 user-profile" style="display: inline-block; width: 56%; margin-top: 1.5em;">
      <% if @percent_improvement %>
        <% @percent_improvement.each do |p| %>
          <div class="col-xs-3">
            <div class="circle" id='<%= "#{p[0]}-circle" %>'></div>
            <row style="padding-left: 30px">
              <span class="glyphicon <%= p[1].to_i>0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down' %>" style="color:<%= p[1].to_i>0 ? 'green' : 'red' %>"></span>
                <%= p[1].to_i.to_s %>%</row></div>
        <% end %>
      <% end %>
    </div>

</div>

<script type="text/javascript">

  <% if @last_assignment %>
    <% @values = Score.where(:assignment_id =>  @last_assignment.id).where(:trainee_id => user.meta.id).first %>
  <% end %>


  <% if @percent_improvement %>
      <% @percent_improvement.each do |p| %>


      var myCircle = Circles.create({
        id:           '<%= "#{p[0]}-circle" %>',
        radius:       50,
        value:        '<%= @values["#{p[0]}"] %>',
        maxValue:     100,
        width:        10,
        text:         '<row><%= @values["#{p[0]}"].to_i.to_s %></row><br><row><span style="font-size:0.6em"><%="#{p[0]}" %></span><br><span style="font-size:0.6em">Score</span></row></div>',// #{Date.today.strftime('%B')}-Evaluations Completed"
        colors:       ['lightgray', '#1ab3db'],
        duration:       200,
        textClass:      'circles-text'
      });

      <% end %>
  <% end %>
</script>
