<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">
    <div class="col-xs-3 user-profile">
      <%= image_tag("profile_thumb.png", size: "145x135", :alt => "profile pic", :style => "padding-left: 20px; padding-top: 10px" ) %>
    </div>
    <div class="col-xs-3 user-profile">
      <b><%= user.first_name %> <%= user.last_name %></b><br>
      <small><%= user.title %></small><br>
      <small><%= @last_assignment.date %></small><br>
      <small>Last evaluation: <%= @second_to_last_assignment.date %></small><br>
      <small>Evaluation by:</small>
        <% @observers.each do |o| %>
          <small><%= o.user.first_name %> <%= o.user.last_name %></small><br>
        <% end %>
      <small>Results:</small><small class="text-success">PASSED</small><br>


      <button class="fg-button">View Results</button>
    </div>
    <div class="col-xs-6 user-profile" style="display: inline">
      <h1><%= Score.where(:assignment_id =>  @last_assignment.id).where(:trainee_id => user.meta.id).first.knowledge %>    <%= Score.where(:assignment_id =>  @last_assignment.id).where(:trainee_id => user.meta.id).first.skills %>    <%= Score.where(:assignment_id =>  @last_assignment.id).where(:trainee_id => user.meta.id).first.abilities %></h1>    </div>
</div>
