<div class="col-xs-12 shadow user-profile" style="margin-bottom: 50px;">
    <div class="col-xs-3 user-profile">
      <%= image_tag("profile_thumb.png", size: "145x135", :alt => "profile pic", :style => "padding-left: 20px; padding-top: 10px" ) %>
    </div>
    <div class="col-xs-3 user-profile">
      <b><%= user.first_name %> <%= user.last_name %></b><br>
      <small><%= user.title %></small><br>
      <% if @last_assignment %>
        <small><%= @last_assignment.date %></small><br>
      <% end %>

      <% if @second_to_last_assignment %>
        <small>Last evaluation: <%= @second_to_last_assignment.date %></small><br>
      <% end %>

      <% if @observers %>
      <small>Evaluation by:</small>
        <% @observers.each do |o| %>
          <small><%= o.user.first_name %> <%= o.user.last_name %></small><br>
        <% end %>
      <% end %>

      <small>Results:</small><small class="text-success">PASSED</small><br>


      <button class="fg-button">View Results</button>
    </div>
    <div class="col-xs-6 user-profile" style="display: inline">
      <% if @percent_improvement %>
        <% @percent_improvement.each do |p| %>
          <div class="col-xs-3">
            <div class="circle" id='<%= "#{p[0]}-circle" %>'></div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

<script type="text/javascript">

  <% if @last_assignment %>
    <% @values = Score.where(:assignment_id =>  @last_assignment.id).where(:trainee_id => user.meta.id).first %>
  <% end %>

  <% if @percent_improvement %>
    <% @percent_improvement.each do |p| %>



      var myCircle = Circles.create({
        id:           '<%= "#{p[0]}-circle" %>',
        radius:       50,
        value:        '<%= @values["#{p[0]}"] %>',
        maxValue:     100,
        width:        10,
        text:         '<row><span class="glyphicon <%= p[1].to_i>0 ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down' %>" style="color:<%= p[1].to_i>0 ? 'green' : 'red' %>"></span><%= p[1].to_i.to_s %>%</row><br><row><span style="font-size:0.6em"><%="#{p[0]}" %></span><br><span style="font-size:0.6em">Score</span></row></div>',// #{Date.today.strftime('%B')}-Evaluations Completed"
        colors:       ['lightgray', '#1ab3db'],
        duration:       200,
        textClass:      'circles-text'
      });

    <% end %>
  <% end %>
</script>
