<%= link_to 'Back', competencies_path, {:class=> 'button'} %>
<br />
<div class="editform" style="margin-top: 2em;   ">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competency.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @competency.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competency.description %>
</p>

<p>
  <strong>Coaching Questions/Comments:</strong>
  <%= @competency.coaching %>
</p>

<%= link_to 'Edit', edit_competency_path(@competency), {:class=> 'button', :style=> 'margin-top: 1.5em;'} %>

</div>