<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="img/favicon.ico" />
  <title>The CORE Results&#8482;</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'landing-page', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  [if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  [endif]

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background: linear-gradient(#092531, #000816); border-bottom: 1px #092531;">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="#"><%= image_tag("corehoriz2.png", :class => "logo224" ) %></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about" style="color: rgba(238, 64, 54, 1);">About</a>
        </li>
        <li>
          <a href="#contact" style="color: rgba(55, 179, 74, 1);">Contact us</a>
        </li>
        <li>
          <%= link_to 'Sign In',new_user_session_path, :style => "color: rgba(38, 169, 224, 1)" %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>




<!-- Header -->
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message" >
          <h1>The CORE Results&#8482;</h1>
          <h3>Measure what is real.</h3>
          <hr class="intro-divider">
          <button class="getapp">Get the app &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<br><a name="about"></a></br>
<!-- /.intro-header -->

<!-- Page Content -->
<!-- /.content-section-a -->
<div class="content-section-b">

  <div class="container">

    <div class="row">

      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

        <div class="clearfix"></div>
        <h2 class="section-heading">The CORE Philosophy</h2>
        <p class="lead">CORE&#x2122; provides performance analysis of individual and organizational competency development. Our application allows our clients to objectively measure progres in key competency areas by assessing performance in comparison to specific criteria categorized as knowledge, skills and abilities across multiple areas of expertise.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("dog1.1.png", :class => "img-responsive" ) %>
      </div>
    </div>

  </div>
<div class="content-section-b">

  <div class="container">

    <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

        <div class="clearfix"></div>
        <h2 class="section-heading">Structure</h2>
        <p class="lead">CORE&#x2122; is designed to provide role based insights of development and performance.</p>
        <h2 class="section-heading">Strategy</h2>
        <p class="lead">CORE&#x2122; is designed to bridge the gap between competencies and performance.</p>
        <h2 class="section-heading">Management</h2>
        <p class="lead">CORE&#x2122; provides management with the insight on areas of strength, areas of opportunity and development.</p>
          <h2 class="section-heading">Target</h2>
          <p class="lead">CORE&#x2122; analyzes individual development toward organizational competencies, analyzes trends, and identities best demonstrated practices.</p>

        </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("dog2.png", :class => "img-responsive", :style=> "margin-top: 8em;" ) %>
      </div>
    </div>

  </div>


  <!-- /.container -->

</div>



  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

          <div class="clearfix"></div>
          <h2 class="section-heading">Coach</h2>
          <p class="lead">CORE&#x2122; coaching tips provide to ensure objective assessment.</p>
          <h2 class="section-heading">Distribute</h2>
          <p class="lead">Contribution of knowledge, skill and ability based on development stage.</p>
          <h2 class="section-heading">Weight</h2>
          <p class="lead">Assign a desired weight to each of the competencies.</p>
          <h2 class="section-heading">Summarize</h2>
          <p class="lead">CORE&#x2122; sophisticated algorithm generates the score.</p>

        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag("dog2.1.png", :class => "img-responsive", :style=> "margin-top: 4em;" ) %>
        </div>
      </div>

    </div>


    <!-- /.container -->

  </div>

  <div class="wrapper" style="margin-bottom: 7em; text-align: center;">
    <!-- PRICING-TABLE CONTAINER -->
    <div class="pricing-table group">
      <h1 class="heading">
        Pricing overview
      </h1>
      <!-- PERSONAL -->
      <div class="block personal fl">
        <h2 class="title">Silver Plan</h2>
        <!-- CONTENT -->
        <div class="content">
          <p class="price">
            <span style="letter-spacing: 0;">$39</span><br />
            <sub>Per User/Month*</sub>
          </p>

        </div>
        <!-- /CONTENT -->
        <!-- FEATURES -->
        <ul class="features" style="font-size: 0.8em;     box-shadow: 0 3px 2px #999999; font-color: #000000;">
          <li>*Billed Annually</li>
          <li>User Setup</li>
          <li>1 GB Ram</li>
          <li>64 GB Memory</li>
          <li>1-249 Users</li>
        </ul>
        <!-- /FEATURES -->
        <!-- PT-FOOTER -->

        <!-- /PT-FOOTER -->
      </div>
      <!-- /PERSONAL -->
      <!-- PROFESSIONAL -->
      <div class="block professional fl">
        <h2 class="title">Gold Plan</h2>
        <!-- CONTENT -->
        <div class="content">
          <p class="price">
            <span style="letter-spacing: 0;">$3,900</span><br />
            <sub>Implementation</sub>
          </p>
        </div>
        <!-- /CONTENT -->
        <!-- FEATURES -->
        <ul class="features" style="font-size: 0.8em;     box-shadow: 0 3px 2px #999999; font-color: #000000;">
            <li>System Configuration</li>
          <li>User Tutorial</li>
          <li>3.5 GB Ram</li>
          <li>256 GB Memory</li>
          <li>One-time System Set-up Fee</li>
        </ul>
        <!-- /FEATURES -->
        <!-- PT-FOOTER -->

        <!-- /PT-FOOTER -->
      </div>
      <!-- /PROFESSIONAL -->
      <!-- BUSINESS -->
      <div class="block business fl">
            <h2 class="title">Platinum Plan</h2>
        <!-- CONTENT -->
        <div class="content">
          <p class="price">

            <span style="letter-spacing: 0;">$29</span><br/>
            <sub>Per User/Month</sub>
          </p>

        </div>
        <!-- /CONTENT -->

        <!-- FEATURES -->
        <ul class="features" style="font-size: 0.8em;     box-shadow: 0 3px 2px #999999; font-color: #000000;">
          <li>*Billed Annually</li>
            <li>Customized CORE Program</li>
          <li>60 GB Ram</li>
          <li>1 TB Memory</li>
          <li>250+ Users</li>
        </ul>
        <!-- /FEATURES -->

        <!-- PT-FOOTER -->

        <!-- /PT-FOOTER -->
      </div>
      <!-- /BUSINESS -->
    </div>
    </div>
    <!-- /PRICING-TABLE -->
  </div>


  <a  name="contact"></a>
  <div class="banner">

    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <h2 style="margin-top: -1em;">Connect with us</h2><br />

          <form id="contact_form" style="margin-left: 1em;" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
              <label for="name">Your name:</label><br />
              <input id="name" style="color: #000; border-radius: .2em; border: 1px solid #e5e5e5;" name="name" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
              <label for="email" style="margin-top: .5em;">Your email:</label><br />
              <input id="email" style="color: #000; border-radius: .2em; border: 1px solid #e5e5e5;" name="email" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
              <label for="message" style="margin-top: .5em;">Your message:</label><br />
              <textarea id="message" style="color: #000; border-radius: .2em; border: 1px solid #e5e5e5;" name="message" rows="7" cols="60"></textarea><br />
            </div>
            <input class="getapp" style=" padding: .5em; margin: .5em 0em 2em -.8em;" type="submit" value="Send email" />
          </form>

        </div>
        <br />
        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://www.facebook.com/michiganmanchester" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li>
              <a href="https://www.twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="https://www.google.com" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>

          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#about">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <%= link_to 'Sign In',new_user_session_path %>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; Michigan and Manchester 2015. Designed by Vibrance Studio LLC. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>

</html>
