<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="img/favicon.ico" />
  <title>The CORE Results&#8482;</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'font-awesome', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'landing-page', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  [if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  [endif]

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" style="background: linear-gradient(#092531, #000816); border-bottom: 1px #092531;">
  <div class="container topnav">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand topnav" href="#"><%= image_tag("corehoriz2.png", :class => "logo224" ) %></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#about" style="color: rgba(238, 64, 54, 1);">About</a>
        </li>
        <li>
          <a href="#contact" style="color: rgba(55, 179, 74, 1);">Contact us</a>
        </li>
        <li>
          <%= link_to 'Sign In',new_user_session_path, :style => "color: rgba(38, 169, 224, 1)" %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="logobanner224" style="background: linear-gradient(#fff, #e5e5e5); border-bottom: 1px #092531;">
    <div>
      <%= image_tag("corelogo.png", :class => "mmlogo224") %>
    </div>
</div>



<!-- Header -->
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message" style="margin-top: -6em;">
          <h1>The CORE Results&#8482;</h1>
          <h3>Measure what is real.</h3>
          <hr class="intro-divider">
          <button class="getapp">Get the app &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<br><a name="about"></a></br>
<!-- /.intro-header -->

<!-- Page Content -->
<!-- /.content-section-a -->
<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">&#x2713; Gain insights by 'objectifying' the subjective</h2>
        <h2 class="section-heading">&#x2713; Customizable and intuitive design</h2>
        <h2 class="section-heading">&#x2713; The only multi-faceted training tool your organization will ever need</h2>
        <p class="lead"></p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("dog2.1.png", :class => "img-responsive" ) %>
      </div>
    </div>

  </div>


  <!-- /.container -->

</div>

<!--<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <%= image_tag("dog2.1.png", :class => "img-responsive" ) %>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Designed for simplicity</h2>
        <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of.</p>
      </div>

    </div>

  </div>

  <div class="content-section-b">

    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Outstanding design</h2>
          <p class="lead">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of.</p>
        </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag("dog2.png", :class => "img-responsive" ) %>
        </div>
      </div>

    </div> -->


    <!-- /.container -->

  </div>

  <div class="wrapper" style="margin-bottom: 7em;">
    <!-- PRICING-TABLE CONTAINER -->
    <div class="pricing-table group">
      <h1 class="heading">
        Pricing overview
      </h1>
      <!-- PERSONAL -->
      <div class="block personal fl">
        <h2 class="title">personal</h2>
        <!-- CONTENT -->
        <div class="content">
          <p class="price">
            <sup>$</sup>
            <span>29</span>
            <sub>/mo.</sub>
          </p>
          <p class="hint">Perfect for freelancers</p>
        </div>
        <!-- /CONTENT -->
        <!-- FEATURES -->
        <ul class="features">
          <li><span class="fontawesome-cog"></span>1 WordPress Install</li>
          <li><span class="fontawesome-star"></span>25,000 visits/mo.</li>
          <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
          <li><span class="fontawesome-cloud"></span>10GB Local Storage</li>
        </ul>
        <!-- /FEATURES -->
        <!-- PT-FOOTER -->
        <div class="pt-footer">
          <p>Host My Website</p>
        </div>
        <!-- /PT-FOOTER -->
      </div>
      <!-- /PERSONAL -->
      <!-- PROFESSIONAL -->
      <div class="block professional fl">
        <h2 class="title">Professional</h2>
        <!-- CONTENT -->
        <div class="content">
          <p class="price">
            <sup>$</sup>
            <span>99</span>
            <sub>/mo.</sub>
          </p>
          <p class="hint">Suitable for startups</p>
        </div>
        <!-- /CONTENT -->
        <!-- FEATURES -->
        <ul class="features">
          <li><span class="fontawesome-cog"></span>10 WordPress Install</li>
          <li><span class="fontawesome-star"></span>100,000 visits/mo.</li>
          <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
          <li><span class="fontawesome-cloud"></span>20GB Local Storage</li>
        </ul>
        <!-- /FEATURES -->
        <!-- PT-FOOTER -->
        <div class="pt-footer">
          <p>Host My Website</p>
        </div>
        <!-- /PT-FOOTER -->
      </div>
      <!-- /PROFESSIONAL -->
      <!-- BUSINESS -->
      <div class="block business fl">
        <h2 class="title">Business</h2>
        <!-- CONTENT -->
        <div class="content">
          <p class="price">
            <sup>$</sup>
            <span>249</span>
            <sub>/mo.</sub>
          </p>
          <p class="hint">For established business</p>
        </div>
        <!-- /CONTENT -->

        <!-- FEATURES -->
        <ul class="features">
          <li><span class="fontawesome-cog"></span>25 WordPress Install</li>
          <li><span class="fontawesome-star"></span>400,000 visits/mo.</li>
          <li><span class="fontawesome-dashboard"></span>Unlimited Data Transfer</li>
          <li><span class="fontawesome-cloud"></span>30GB Local Storage</li>
        </ul>
        <!-- /FEATURES -->

        <!-- PT-FOOTER -->
        <div class="pt-footer">
          <p>Host My Website</p>
        </div>
        <!-- /PT-FOOTER -->
      </div>
      <!-- /BUSINESS -->
    </div>
    </div>
    <!-- /PRICING-TABLE -->
  </div>


  <a  name="contact"></a>
  <div class="banner">

    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <h2 style="margin-top: -1em;">Connect with us</h2><br />

          <form id="contact_form" style="margin-left: 1em;" action="#" method="POST" enctype="multipart/form-data">
            <div class="row">
              <label for="name">Your name:</label><br />
              <input id="name" style="color: #000; border-radius: .2em; border: 1px solid #e5e5e5;" name="name" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
              <label for="email" style="margin-top: .5em;">Your email:</label><br />
              <input id="email" style="color: #000; border-radius: .2em; border: 1px solid #e5e5e5;" name="email" type="text" value="" size="30" /><br />
            </div>
            <div class="row">
              <label for="message" style="margin-top: .5em;">Your message:</label><br />
              <textarea id="message" style="color: #000; border-radius: .2em; border: 1px solid #e5e5e5;" name="message" rows="7" cols="60"></textarea><br />
            </div>
            <input class="getapp" style=" padding: .5em; margin: .5em 0em 2em -.8em;" type="submit" value="Send email" />
          </form>

        </div>
        <br />
        <div class="col-lg-6">
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="https://www.facebook.com/michiganmanchester" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
            <li>
              <a href="https://www.twitter.com" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="https://www.google.com" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
            </li>

          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.banner -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="list-inline">
            <li>
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#about">About</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
              <%= link_to 'Sign In',new_user_session_path %>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; Michigan and Manchester 2015. Designed by Vibrance Studio LLC. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>

</html>
