<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <p>Assignments</p>
        <%= f.nested_fields_for :assignments do |assign_form| %>
            <p>
              <%= assign_form.label :date %>
              <%= assign_form.date_field :date %>

              <%= assign_form.label :survey%>
              <%= assign_form.collection_select :survey_id,
                                                Survey.all, :id, :id,
                                                :prompt => true %>

              <%= assign_form.label :trainee %>
              <%= assign_form.select :trainee_ids, Trainee.all.collect {|x| [x.user.email, x.id]}, {}, :multiple => true %>

              <%= assign_form.remove_nested_fields_link %>
            </p>
        <% end -%>

        <%= f.add_nested_fields_link :assignments %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
