<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <div style="margin: 2em;"></div>
    <%= f.label :observers %><br />
    <%= f.select :observer_ids, Observer.all.collect {|x| [x.user.email, x.id]}, {}, :multiple => true %>

    <div style="margin: 2em;"></div>
    <p>Color Cut-offs for CORE score</p>

    <%= f.fields_for :colors do |color_form| %>
        <%= color_form.label $colors[color_form.options[:child_index]] %>
        <%= color_form.number_field :value , within: 1...100  %>
    <% end %>

        <br><br>
        <p>Assignments</p>
        <%= f.nested_fields_for :assignments do |assign_form| %>
            <p>
              <%= assign_form.label :date %>
              <%= assign_form.date_field :date %>

              <%= assign_form.label 'Scorecard'%>
              <%= assign_form.collection_select :survey_id,
                                                Survey.all, :id, :name,
                                                :prompt => false %>

              <%= assign_form.label 'Trainees' %>
              <%= assign_form.select :trainee_ids, Trainee.all.collect {|x| [x.user.email, x.id]}, {}, :multiple => true %>

              <%= assign_form.remove_nested_fields_link %>
            </p>
        <% end -%>

        <%= f.add_nested_fields_link :assignments %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
