<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <div style="margin: 2em;"></div>
    <%= f.label :observers %><p>Multi-select with shift or ctrl + click</p>
    <%= f.select :observer_ids, Observer.all.collect {|x| [x.user.email, x.id]}, {}, :multiple => true, :style => 'height: 15em;' %>

    <div style="margin: 2em;"></div>
    <h4>Color Cut-offs for CORE score</h4>

    <%= f.fields_for :colors do |color_form| %>
        <%= color_form.label $colors[color_form.options[:child_index]] %>
        <%= color_form.number_field :value , within: 1...100  %>
    <% end %>

        <br><br>
        <h4>Assignments</h4>
        <%= f.nested_fields_for :assignments do |assign_form| %>
            <p>
              <%= assign_form.label :date %>
              <%= assign_form.date_field :date %>

              <%= assign_form.label 'Scorecard'%><br/>
              <%= assign_form.collection_select :survey_id,
                                                Survey.all, :id, :name,
                                                :prompt => false %>
              <br/>
              <%= assign_form.label 'Trainees', :style => 'display: inline-block;' %>
              <br/>
              <%= assign_form.select :trainee_ids, Trainee.all.collect {|x| [x.user.email, x.id]}, {}, :multiple => true, :style => 'height: 15em; width: 70%;' %>
              <br/>
              <%= assign_form.remove_nested_fields_link 'X Remove Assignment' %>
            </p>
        <% end -%>
        <br/>
  <br/>
        <%= f.add_nested_fields_link :assignments, '+Add Assignment', :class => 'button' %>
        <br/>
        <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
