<p id="notice"><%= notice %></p>

<p>
  <% @project.observers.each do |o| %>
      <%= o.id %>
  <% end %>

  <% @project.assignments.each do |a| %>
    <p></p>
    <%= a.date %>
    <% a.survey %>
    <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
