<%= link_to 'Back', projects_path, {:class=> 'button'} %>
<br />
<p id="notice"><%= notice %></p>

<p>
  Project Title:
  <%= @project.name %> <br>

  Observers:
  <% @project.observers.each do |o| %>
      <%= o.user.email %>
  <% end %>

  <% @project.assignments.each do |a| %>
    <p></p>
    <%= a.date %>
    <% a.surveys.each do |s| %>
        <%= s.name %>
    <% end %>
    <% a.trainees.each do |t| %>
        <%= t.user.email %>
        <% end %>
    <% end %>
</p>

<%= link_to 'Edit', edit_project_path(@project), {:class=> 'button'} %>
