<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "col-xs-12 shadow survey-topbar " style="width: 70%; margin-bottom: 1em; margin-top: 1em;">
    <div class = "col-xs-6 editform" style="background-color: none; box-shadow: none; width: 70%;">
      <%= f.label :name, 'Scorecard Name'  %>
      <%= f.text_field :name , :style => "float: right;" %><br>

      <%= f.label :description, 'Scorecard Description' %>
      <%= f.text_area :description, cols: "30", rows: "5" , :style => "float: right;" %>
      <br>
    </div>
    <div class = "col-xs-3" style="margin-left: 1em; border: 2px solid lightgrey; margin-top: 2.4em;">
      <div class = "col-xs-3" id="weight-container" style="border: 1px solid white;margin-top: -0.6em;">
        <table style="width: 80%;">
          <%= f.fields_for :survey_blocks do |block_form| %>
            <tr>
              <td><%= @survey.survey_blocks[block_form.options[:child_index]].category %></td>
              <td><%= block_form.number_field :weight , within: 1...100 %></td>
            </tr>
          <% end %>

          <tr>
            <td>Total</td>
            <td id="total-weights">100</td>
          </tr>
        </table>
      </div>
    </div>
    </div>


  <% @survey_blocks.each_with_index do |item, i| %>
    <%= f.fields_for :survey_blocks, item, :child_index => i do |block_form| %>
      <h4 style="display: inline-block;"><%= $categorynames[block_form.options[:child_index]-3] %> Evaluation (<span id="header-current-<%= $categorynames[block_form.options[:child_index]-3] %>"> </span>/<span id="header-<%= $categorynames[block_form.options[:child_index]-3] %>"> </span>  points)</h4>
      <div class="scorecard">
          <table class="table shadow">
            <thead>
            <tr style="background-color: lightgrey">
              <th>Category</th>
              <th>Rating</th>
              <th>Weight</th>
            </tr>
            </thead>
                <tr>
                  <%= block_form.nested_fields_for :questions, wrapper_tag: :tr do |q_form| %>
                  <td><%= q_form.collection_select :category, @competencies.where(:category => $categorynames[block_form.options[:child_index]-3]), :name, :name, include_blank: false %>  <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:cornflowerblue"></span></td>
                  <td><% (1..6).each do |i| %>
                      <%= radio_button_tag "rating", i, 0, options = {:disabled => true} %>
                    <% end %></td>
                  <td>
                    <%= q_form.number_field :weight, within: 1...100 , :class =>  $categorynames[block_form.options[:child_index]-3] + '-category-weights' %>
                    <%= q_form.remove_nested_fields_link do %>
                      <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red"></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td><%= block_form.add_nested_fields_link :questions, 'Add new +' %></td>
              </tr>

          </table>
    <% end %>
  <% end %>
  </div>


  <div class="actions button" style="width: 20%; text-align: center; text-decoration: none;">
    <%= f.submit %>
  </div>
<% end %>

<script>
    // On document load add weights to header labels
    <% $categorynames.each_with_index do |cat,i| %>
        $( document ).ready(function() {
            $("#header-<%= cat %>").html($("#survey_survey_blocks_attributes_<%= i %>_weight").val());
            compute_total();
            category_totals_init();
        });
    <% end %>

    // calculate and update total
    function compute_total() {
        var total = parseInt($("#survey_survey_blocks_attributes_0_weight").val(),10) + parseInt($("#survey_survey_blocks_attributes_1_weight").val(),10) + parseInt($("#survey_survey_blocks_attributes_2_weight").val(),10);
        $('#total-weights').html(total);
        if (total != 100) {
            $('#weight-container').css('margin-left: 2em;');
        }
        else {
            $('#weight-container').css('border', '1px solid green');
        }
    }

    // on click or keyup update said weights
    <% $categorynames.each_with_index do |cat,i| %>
    $("#survey_survey_blocks_attributes_<%= i %>_weight").on('click keyup',function(){
        compute_total();
        // and replace the html accordingly
        $("#header-<%= cat %>").html($(this).val());
        disable_submit();
    });
    <% end %>


    // for each category
    <% $categorynames.each_with_index do |cat,i| %>
        // whenever each competency weight is changed
        $(".<%= cat %>-category-weights").each(function(){
            $(this).on('click keyup',function(){
                var total = 0;
                // recompute the total for that section
                $(".<%= cat %>-category-weights").each(function() {
                    total = total + parseInt($(this).val(), 10);
                });
                // and replace the html accordingly
                $("#header-current-<%= cat %>").html(total);

                if(total != parseInt($("#header-<%= cat %>").html(),10))
                {
                    $("#header-current-<%= cat %>").css('color','red');
                }
                else
                {
                    $("#header-current-<%= cat %>").css('color','green');
                }
                disable_submit();
            });

        });
    <% end %>

    function disable_submit(){
        $(".actions > input").prop('disabled', false);
        $(".actions > input").css('color', 'green');
        <% $categorynames.each_with_index do |cat,i| %>
        if(parseInt($("#header-current-<%= cat %>").html(),10) != parseInt($("#header-<%= cat %>").html(),10))
        {
            $(".actions > input").prop('disabled', true);
            $(".actions > input").css('color', 'red');
            console.log(parseInt($("#header-current-<%= cat %>").html(),10));
            console.log(parseInt($("#header-<%= cat %>").html(),10));
        }
        <% end %>

        if (parseInt($('#total-weights').html(),10) != 100) {
            $(".actions > input").prop('disabled', true);
            $(".actions > input").css('color', 'red');
        }
    }

    function category_totals_init(){
        // for each category
        <% $categorynames.each_with_index do |cat,i| %>
        // whenever each competency weight is changed
        $(".<%= cat %>-category-weights").each(function(){
                var total = 0;
                // recompute the total for that section
                $(".<%= cat %>-category-weights").each(function() {
                    total = total + parseInt($(this).val(), 10);
                });
                // and replace the html accordingly
                $("#header-current-<%= cat %>").html(total);

                if(total != parseInt($("#header-<%= cat %>").html(),10))
                {
                    $("#header-current-<%= cat %>").css('color','red');
                }
                else
                {
                    $("#header-current-<%= cat %>").css('color','green');
                }
                disable_submit();
        });
        <% end %>
    }


</script>
