<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>SURVEY BLOCK</p>

    <%= f.fields_for :survey_blocks do |block_form| %>
        <p>
          <%= block_form.label :category%>
          <%= block_form.text_field :category %>

          <%= block_form.label :weight%>
          <%= block_form.number_field :weight %>

        </p>

        <p>QUESTIONS:</p>
        <%= block_form.fields_for :questions do |q_form| %>
            <p>
              <%= q_form.label :category%>
              <%= q_form.text_field :category %>

              <%= q_form.label :weight%>
              <%= q_form.number_field :weight %>

              <%= q_form.label :description%>
              <%= q_form.text_field :description %>

              <%= q_form.check_box :_destroy %>
              <%= q_form.label :_destroy, 'delete' %>
            </p>
        <% end -%>

        <%= block_form.submit 'Add question', :name => block_form.index %>
    <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
