<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name%>
  <%= f.text_field :name %><br>

  <%= f.fields_for :survey_blocks do |block_form| %>

    <%= block_form.label :category%>
    <%= block_form.text_field :category %>

    <%= block_form.label :weight%>
    <%= block_form.number_field :weight %>


<div class="scorecard">
    <table class="table shadow">
      <thead>
      <tr style="background-color: lightgrey">
        <th>Category</th>
        <th>Rating</th>
        <th>Weight</th>
      </tr>
      </thead>
          <tr>
            <%= block_form.nested_fields_for :questions, wrapper_tag: :tr do |q_form| %>
            <td><%= q_form.text_field :category %> <span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:cornflowerblue"></span></td>
            <td><% (1..10).each do |i| %>
                <%= radio_button_tag "test", i, 0, options = {:disabled => true} %>
              <% end %></td>
            <td><%= q_form.number_field :weight %><%= q_form.remove_nested_fields_link do %>
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" style="color:red"></span>
                <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><%= block_form.add_nested_fields_link :questions, 'Add new +' %></td>
        </tr>

    </table>
  <% end %>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
