<!DOCTYPE html>
<html>
  <head>
    <title>The CORE Results&#x2122;</title>
    <%= javascript_include_tag 'https://www.google.com/jsapi', 'chartkick' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      html,body { height: 100%; margin: 0px; padding: 0px; }
    </style>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body class="body">

    <%#= render 'shared/header' %>

    <div id="main-container" class="container">


      <div class="row">
        <div class="col-xs-3">
            <%= render 'shared/sidebar' %>
        </div>
        <div class="col-xs-9">
          <row>
            <%= render 'shared/main_header' %>
          </row>
          <row>
            <%= yield %>
          </row>
        </div>
      </div>

      <div class="row">
        <%= render 'shared/footer' %>
      </div>

      <div class="row">
        <%= render 'shared/header' %>
      </div>

    </div>

  </body>

</html>
